<!DOCTYPE HTML>
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
<link rel="stylesheet" type="text/css"  href="{{asset "style.css"}}" />
<link rel="stylesheet" type="text/css"  href="{{asset "animation.css"}}" />
<script type="text/javascript" src="{{asset "jquery.js"}}"></script>
<script type="text/javascript" src="{{asset "Tone.js"}}"></script>
<script type="text/javascript" src="{{asset "script.js"}}"></script>
<link href='https://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="{{asset "denny.js"}}"></script>
<script type="text/javascript" src="{{asset "jquery.mousewheel.js"}}"></script>
<script type="text/javascript" src="{{asset "scroll.js"}}"></script>
<div id="container">
<div class="navbar">
	<h1 id="info">+</h1>
</div>
<div id="content">
	{{#foreach posts}}
		<div class="box">
			<h2 class="title"><a href={{url absolute="true"}}>{{{title}}}</a></h2>
			</br>
			<h3 class="tags"><span>{{tags}}</span></h3>
			{{#if image}}<img class="image" src="{{image}}">{{/if}}
		</div>
	{{/foreach}}
</div>
<div id="about">
	<div id="aboutContainer">
		<img src="{{asset "eyes.gif"}}"/>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam porttitor blandit mi non interdum. Donec nulla nisl, volutpat quis justo sit amet, molestie mollis velit. Quisque scelerisque sapien imperdiet, ultrices elit at, egestas urna. Cras hendrerit nisi ex, ut fringilla risus maximus non. Morbi euismod tincidunt ante quis lacinia. Suspendisse tincidunt nisi at velit pretium suscipit. </p>
		<div id="social">
			<a href="https://github.com/dennyabrain" taget="_blank"><img src="{{asset "github.svg"}}"></a>
			<a href="https://twitter.com/_abrain_" target="_blank"><img src="{{asset "twitter.svg"}}"></a>
			<a href="https://www.instagram.com/dennyabrain/" target="_blank"><img src="{{asset "instagram.svg"}}"></a>
		</div>
	</div>
</div>
</div>