<!DOCTYPE HTML>
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
<link rel="stylesheet" type="text/css"  href="{{asset "style.css"}}" />
<script type="text/javascript" src="{{asset "jquery.js"}}"></script>
<script type="text/javascript" src="{{asset "Tone.js"}}"></script>
<script type="text/javascript" src="{{asset "script.js"}}"></script>
<link href='https://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
<!--<script type="text/javascript" src="{{asset "denny.js"}}"></script>-->
<div id="container">
<div id="content">
	{{#foreach posts}}
		<div class="box">
			<h2 class="title"><a href={{url absolute="true"}}>{{{title}}}</a></h2>
			</br>
			<h3 class="tags"><span>{{tags}}</span></h3>
			{{#if image}}<img class="image" src="{{image}}">{{/if}}
		</div>
	{{/foreach}}
</div>
<div id="about">
	<p>Denny George is a creative technologist who likes to create digital tools for creative expression. A lot of his work currently is in the realm of live performance.</p>
	<div id="close"> X
	</div>
</div>
</div>