<link rel="stylesheet" type="text/css"  href="{{asset "style.css"}}" />
<script type="text/javascript" src="{{asset "jquery.js"}}"></script>
<script type="text/javascript" src="{{asset "script.js"}}"></script>
<div id="content">
	{{#foreach posts}}
		<div class="box">
			<h2><a href={{url absolute="true"}}>{{{title}}}</a></h2>
			<h3>{{tags}}</h3>
			{{#if image}}<img class="image" src="{{image}}">{{/if}}
		</div>
	{{/foreach}}
</div>