<link rel="stylesheet" type="text/css"  href="{{asset "style.css"}}" />
<script type="text/javascript" src="{{asset "jquery.js"}}"></script>
<script type="text/javascript" src="{{asset "script.js"}}"></script>
{{#post}}
	<h2>{{title}}</h2>
	{{content}}
{{/post}}